<form method="POST" action="/colorTables" style="margin-left: auto; margin-right:auto; display:block; padding-top:100px; width: 800px; ">
    <div class="form-group", style="margin-left: auto; margin-right: auto; width: 400px;">
        <label for="optionSelect">Select A Grid Size</label>
        <select name="selection" class="form-control" id="optionSelect">
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>10</option>
            <option>20</option>
        </select>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

    

</form>